@{
    ViewData["Title"] = "Registreren";
}
<h2>Registreren</h2>
@if(ViewBag.Message != null)
{
<p style="color:green;">@ViewBag.Message</p>
}

<form asp-action="Registreer" method="post">
    <label>Email:</label>
    <input type="email" name="email" required /><br />

    <label>Gebruikersnaam:</label>
    <input type="text" name="gebruikersnaam" required /><br />

    <label>Wachtwoord:</label>
    <input type="password" name="wachtwoord" required /><br />

    <button type="submit">Registreren</button>
</form>
