@model Shelfie.Presentation.Models.SearchViewModel

@{
    ViewData["Title"] = "Zoek Boeken";
}

<h2>@ViewData["Title"]</h2>

    <div class="row">
    <div class="col-md-6">
    @* Stap 2: Maak het formulier. Het 'get' naar de 'Results' actie in de 'Search' controller *@
    <form asp-controller="Search" asp-action="Results" method="get">
            
    <div class="form-group">
    <label asp-for="SearchTerm" class="control-label">Zoekterm</label>
    @* Stap 3: Input-veld voor de zoekterm *@
    <input asp-for="SearchTerm" class="form-control" />
    </div>

    <div class="form-group">
    <label asp-for="SearchType" class="control-label">Zoek op</label>
    @* Stap 4: Dropdown-menu (select) voor het zoektype *@
    <select asp-for="SearchType" class="form-control">
    <option value="titel">Titel</option>
    <option value="auteur">Auteur</option>
    <option value="genre">Genre</option>
    </select>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Zoek</button>
    </form>
    </div>
    </div>