@{
    Layout = null;
    ViewData["Title"] = "Homepage";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>Welkom bij Shelfie</h1>
<p>Je bent succesvol geregistreerd en ingelogd.</p>

<ul>
    <li><a asp-controller="Boekenkast" asp-action="Index">Bekijk mijn Boekenkast</a></li>
    <li><a asp-controller="Search" asp-action="Index">Zoek Boeken</a></li>
</ul>
</body>
</html>