@model List<Shelfie.Presentation.Models.BoekViewModel>

@{
    ViewData["Title"] = "Mijn Boekenkast";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (Model.Count == 0)
{
    <p>Je boekenkast is nog leeg.</p>
    
    <a asp-controller="Search" asp-action="Index" class="btn btn-primary">Zoek boeken om toe te voegen</a>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Auteur (Placeholder)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var boek in Model)
        {
            <tr>
                <td>@boek.Titel</td>
                <td>@boek.ISBN</td>
                <td>@boek.AuteurNaam</td>
            </tr>
        }
        </tbody>
    </table>
}